name = "hono-memo-app"
compatibility_date = "2025-08-03"
main = "./src/index.tsx"
workers_dev = true

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "hono-memo-app-db"
database_id = "enter_your_remote_db_id"
migrations_dir = "./src/middleware/db/migrations"
